.table {
    min-height: 66.2vh;
    font-family: 'Futura PT', sans-serif;
    .slides-content {
        .slides-content-file {
            display: flex;
            align-items: center;
        }
    }
}