.instructorContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.filterInputs {
  display: flex;
}

.css-s0w8ce {
  width: 1000px !important;
}

// .MuiFilledInput-underline:after {
//       border-bottom-color: 'rgb(255, 121, 97)' !important;
// }

// .css-1ff8729-MuiInputBase-root-MuiFilledInput-root:after {
//   border-bottom-color: 'rgb(255, 121, 97)' !important;
//   border-bottom: red !important
// }